@import '../../../../style/base/all';

section.tf-site-punchline{

    @extend .inverted-section;
    background-color: $modernmediumcolor;

    text-align: center;

    /*max-width: $max-width-section;*/
    margin: 0 auto;

    h2{
        @extend .tf-raleway;
        strong{ font-variant: small-caps; font-size: 1.2em; }
        margin: 0;
        padding: 1.2rem 0 1.8rem;
        font-size: 1.2rem;
    }
}