a.tf-abutton,
button,
input[type=submit]{
    @extend .tf-raleway;

    display: inline-block;

    color: $bgcolor;
    background: $modernmediumcolor;
    text-decoration: none;

    padding: 1rem;
    margin: 1rem;
}

.tf-center-button-bar{
    text-align: center;
}

body{
    background-color: $bgcolor;
    color: $fgcolor;
}

.inverted-section{
    background-color: $fgcolor;
    color: $bgcolor;
}

.tf-center{
    text-align: center;
}

.tf-raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
}

strong.tf-raleway, .tf-raleway strong,
b.tf-raleway, .tf-raleway b{
    font-weight: 900;
}