$header-height: 4rem;

$items-font-size: 1.5rem;
$site-title-font-size: 2rem;
$items-padding: 1.2rem;


header.tf-site-header{
    display: flex;
    flex-flow: row nowrap;

    background: $modernmediumcolor;
    color: $bgcolor;

    nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;

        font-size: $items-font-size;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        line-height: 1.2em;

        width: 100%;

        &>*{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            padding: 0 $items-padding;
            height: $header-height;
            flex: 1;
        }
        &>:first-child{
            flex: 2;
            justify-content: flex-start;
        }
        &>:last-child{
            justify-content: flex-end;
        }

        .tf-site-title{
            font-size: $site-title-font-size;
        }
    }

}