section.tf-site-intro{

    @extend .inverted-section;

    padding: 2rem;
    padding-bottom: 0;

    border-bottom: solid 1px transparent;

    text-align: center;

    /*max-width: $max-width-section;*/
    margin: 0 auto;

    h2{
        @extend .tf-raleway;
    }
}