$article-margin: 2rem;
$article-height: 20rem;

@import 'articleMini';

section.tf-last-articles{
    max-width: $max-width-section;

    margin: 0 auto;

    div.tf-article-grid{
        display: flex;
        flex-flow: row wrap;

        padding: $article-margin / 2;

    }

    div.tf-last-articles-more{
        margin-bottom: 1rem;
        a.tf-abutton{
            margin-top: 0;

            strong{font-variant: small-caps; font-size: 1.2em;}
        }
    }

}