//////////////////////////////////////////////////////
// Menu
//////////////////////////////////////////////////////

.tf-modern div.tf-menu div.tf-transiter{
    background: $modernlightcolor;
}
.tf-trad div.tf-menu div.tf-transiter{
    background: $tradlightcolor;
}

//////////////////////////////////////////////////////
// Breadcrumb
//////////////////////////////////////////////////////

.tf-modern nav.tf-breadcrumb{
    background: rgba($modernlightcolor, 0.9);
}

.tf-trad nav.tf-breadcrumb{
    background: rgba($tradlightcolor, 0.9);
}