//////////////////////////////////////////////////////
// Menu
//////////////////////////////////////////////////////

.tf-modern div.tf-menu div.tf-transiter{
    background: $modernlightcolor;
}
.tf-trad div.tf-menu div.tf-transiter{
    background: $tradlightcolor;
}

//////////////////////////////////////////////////////
// Breadcrumb
//////////////////////////////////////////////////////

.tf-modern nav.tf-breadcrumb{
    background: mix($fgcolor, $modernlightcolor, 10%);
}

.tf-trad nav.tf-breadcrumb{
    background: mix($fgcolor, $tradlightcolor, 10%);
}