/* See _header.scss for page margin-top */

@import 'header';
@import 'menu';

div.tf-header-background{
    display: block;
    position: fixed; top: 0; left: 0;
    width: 100%; height: $header-height;
    z-index: 99;
    background: $modernmediumcolor;
}