section.tf-site-punchline{

    @extend .inverted-section;
    background-color: $modernmediumcolor;

    border-bottom: solid 1px transparent;

    text-align: center;

    /*max-width: $max-width-section;*/
    margin: 0 auto;

    h2{
        @extend .tf-raleway;
        strong{ font-variant: small-caps; font-size: 1.2em; }
    }
}