//////////////////////////////////////////////////////
// Comments
//////////////////////////////////////////////////////

.tf-modern .tf-comments{
    background: $modernaltcolor;
}

.tf-trad .tf-comments{
    background: $tradaltcolor;
    color: $bgcolor;
    textarea{
        background: rgba($fgcolor, 0.5);
        color: $bgcolor;
    }
}