$icon-size: 2rem;
$thickness: 0.4rem;

div.tf-separator{
    background: $modernmediumcolor;

    width: 100%;
    height: $thickness;

    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;


    div.tf-separator-icon{
        width: $icon-size; height: $icon-size;
        border: solid $thickness $modernmediumcolor;
        background: $modernmediumcolor;
        transform: rotate(45deg);
        margin: 0 0.5rem;

        &:nth-child(1), &:nth-child(3){
            width: $icon-size*0.666; height: $icon-size*0.666;
        }
    }
}