$icon-size: 2rem;
$thickness: 0.4rem;

div.tf-separator{
    background: $modernmediumcolor;

    width: 100%;
    height: $thickness;

    position: relative;


    div.tf-separator-icon{
        width: $icon-size; height: $icon-size;
        border: solid $thickness $modernmediumcolor;
        border-radius: $icon-size;

        position: absolute;
        left: calc(50% - #{$icon-size / 2});
        top: -$icon-size / 2 - $thickness / 2;

        background: $bgcolor;
    }
}