//////////////////////////////////////////////////////
// Character Select
//////////////////////////////////////////////////////

section.tf-character-select div.tf-character-select-selector{

    div.tf-character-left a.tf-character-select-link div.tf-character-inner{
        background-image: url('../resource/univers/modern-colors.jpg');
        &::after{
            background-image: url('../resource/univers/modern-dark.jpg');
        }
    }

    div.tf-character-right a.tf-character-select-link div.tf-character-inner{
        background-image: url('../resource/univers/trad-colors.jpg');
        &::after{
            background-image: url('../resource/univers/trad-dark.jpg');
        }
    }

}

//////////////////////////////////////////////////////
// Separator
//////////////////////////////////////////////////////

.tf-modern div.tf-separator{
    background: $modernlightcolor;

    div.tf-separator-icon{
        border-color: $modernlightcolor;
        background: $modernlightcolor;
    }
}

.tf-trad div.tf-separator{
    background: $tradlightcolor;

    div.tf-separator-icon{
        border-color: $tradlightcolor;
        background: $tradlightcolor;
    }
}

//////////////////////////////////////////////////////
// Text Separator
//////////////////////////////////////////////////////

.tf-modern h2.tf-text-separator{
    color: $modernlightcolor;
    &::before, &::after{
        background: $modernlightcolor;
    }
}

.tf-trad h2.tf-text-separator{
    color: $modernlightcolor;
    &::before, &::after{
        background: $modernlightcolor;
    }
}