//////////////////////////////////////////////////////
// Character Select & Character Select Mini
//////////////////////////////////////////////////////

section.tf-character-select div.tf-character-select-selector,
section.tf-character-select-mini div.tf-character-select-selector{

    div.tf-character-left a.tf-character-select-link div.tf-character-inner{
        background-image: url('../resource/univers/modern-colors.jpg');
        &::after{
            background-image: url('../resource/univers/modern-dark.jpg');
        }
    }

    div.tf-character-right a.tf-character-select-link div.tf-character-inner{
        background-image: url('../resource/univers/trad-colors.jpg');
        &::after{
            background-image: url('../resource/univers/trad-dark.jpg');
        }
    }

}

@media (max-width: 1400px){
    section.tf-character-select div.tf-character-select-selector,
    section.tf-character-select-mini div.tf-character-select-selector{
        div.tf-character-left p.tf-fighter-description{
            margin-left: 8rem;
        }
        div.tf-character-right p.tf-fighter-description{
            margin-right: 8rem;
        }

        div.tf-character-left{
            a.tf-character-select-link:hover{
                p.tf-fighter-description{
                    margin-left: 12rem;
                    opacity: 1;
                }
            }
        }

        div.tf-character-right{
            a.tf-character-select-link:hover{
                p.tf-fighter-description{
                    margin-right: 12rem;
                    opacity: 1;
                }
            }
        }

        &:hover{
            div.tf-character-left p.tf-fighter-description{
                margin-left: 6rem;
            }
            div.tf-character-right p.tf-fighter-description{
                margin-right: 6rem;
            }
        }

        h3.tf-character-select-title{
            font-size: 3rem;
        }
        p.tf-fighter-description{
           font-size: 0.9rem;
           width: 20rem;
        }
    }

    
}

@media (max-width: 1024px){
    section.tf-character-select,
    section.tf-character-select-mini{
        $character-select-height: 8rem;

        div.tf-character-select-selector{
            flex-flow: column nowrap;
        }

        h2{
            font-weight: 500;
        }

        div.tf-character-select-selector h3.tf-character-select-title{
            font-size: 1.5rem;
                span.tf-character-title-small{
                font-size: 0.5em;
            }
        }

        img.tf-character-select-versus{
            display: none;
        }

        img.tf-fighter{
            height: 192px; width: auto;
        }

        div.tf-character-select-selector{
            div.tf-character-left, div.tf-character-right{
                height: $character-select-height;
            }

            div.tf-character-left{
                margin-left: sin(-15deg) * $character-select-height;

                a.tf-character-select-link div.tf-character-inner{
                    //padding-left: 0.2588190451 * $character-select-height * 2 + 4rem;
                    padding-left: -1 * sin(-15deg) * $character-select-height * 2 + 4rem;
                }
            }

            div.tf-character-right{
                margin-right: sin(-15deg) * $character-select-height;
                a.tf-character-select-link div.tf-character-inner{
                    padding-right: -1 * sin(-15deg) * $character-select-height * 2 + 4rem;
                }
            }

            div.tf-character-inner{
                margin: 0 sin(-15deg) * $character-select-height;
                padding: 0 -1 * sin(-15deg) * $character-select-height;
            }

            div.tf-character-left img.tf-fighter{
                left: -1 * sin(-15deg) * $character-select-height * 2;
            }
            div.tf-character-right img.tf-fighter{
                right: -1 * sin(-15deg) * $character-select-height * 2;
            }

            img.tf-fighter{
                height: 384px / 2;
                bottom: auto;
                top: 0;
            }

            h3.tf-character-select-title{
                margin: 2rem;
                margin-bottom: 0;
            }

            div.tf-character-left{
                h3.tf-character-select-title{
                    margin-left: 4rem;
                }
                a.tf-character-select-link:hover{
                    h3.tf-character-select-title{
                        margin-left: 4rem;
                    }
                    img.tf-fighter{
                        margin-left: 2rem;
                    }
                }
            }
            div.tf-character-right{
                h3.tf-character-select-title{
                    margin-right: 4rem;
                }
                a.tf-character-select-link:hover{
                    h3.tf-character-select-title{
                        margin-right: 4rem;
                    }
                    img.tf-fighter{
                        margin-right: 2rem;
                    }
                }
            }

            &:hover{
                div.tf-character-left h3.tf-character-select-title{
                    margin-left: 2rem;
                }
                div.tf-character-right h3.tf-character-select-title{
                    margin-right: 2rem;
                }
            }
        }
    }
}

@media (max-width: 500px){
    section.tf-character-select div.tf-character-select-selector,
    section.tf-character-select-mini div.tf-character-select-selector{
        p.tf-fighter-description{
            display: none;
        }
    }
}

//////////////////////////////////////////////////////
// Theme Select & Theme Select Mini
//////////////////////////////////////////////////////

// Modern version
.tf-modern{
    section.tf-theme-select,
    section.tf-theme-select-mini{

        a.tf-theme-lieux div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/environnement-modern.jpg');
        }
        a.tf-theme-art div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/art-modern.jpg');
        }
        a.tf-theme-divertissement div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/divertissement-modern.jpg');
        }
        a.tf-theme-gastronomie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/gastronomie-modern.jpg');
        }
        a.tf-theme-vetements div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/vetements-modern.jpg');
        }
        a.tf-theme-styledevie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/styledevie-modern.jpg');
        }

    }
}

// Traditionnal version
.tf-trad{
    section.tf-theme-select,
    section.tf-theme-select-mini{

        a.tf-theme-lieux div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/environnement-trad.jpg');
        }
        a.tf-theme-art div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/art-trad.jpg');
        }
        a.tf-theme-divertissement div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/divertissement-trad.jpg');
        }
        a.tf-theme-gastronomie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/gastronomie-trad.jpg');
        }
        a.tf-theme-vetements div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/vetements-trad.jpg');
        }
        a.tf-theme-styledevie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/styledevie-trad.jpg');
        }
    }
}

// Colored on hover
section.tf-theme-select,
section.tf-theme-select-mini{

    a.tf-theme-lieux div.tf-theme-thumbnail{
        background-image: url('../resource/themes/environnement.jpg');
    }
    a.tf-theme-art div.tf-theme-thumbnail{
        background-image: url('../resource/themes/art.jpg');
    }
    a.tf-theme-divertissement div.tf-theme-thumbnail{
        background-image: url('../resource/themes/divertissement.jpg');
    }
    a.tf-theme-gastronomie div.tf-theme-thumbnail{
        background-image: url('../resource/themes/gastronomie.jpg');
    }
    a.tf-theme-vetements div.tf-theme-thumbnail{
        background-image: url('../resource/themes/vetements.jpg');
    }
    a.tf-theme-styledevie div.tf-theme-thumbnail{
        background-image: url('../resource/themes/styledevie.jpg');
    }
}

// Nav main menu version

div.tf-menu{
    section.tf-theme-select,
    section.tf-theme-select-mini{

        a.tf-theme-lieux div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/environnement-modern.jpg');
        }
        a.tf-theme-art div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/art-trad.jpg');
        }
        a.tf-theme-divertissement div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/divertissement-modern.jpg');
        }
        a.tf-theme-gastronomie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/gastronomie-trad.jpg');
        }
        a.tf-theme-vetements div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/vetements-modern.jpg');
        }
        a.tf-theme-styledevie div.tf-theme-thumbnail::after{
            background-image: url('../resource/themes/styledevie-trad.jpg');
        }
    }
}

@media (max-width: 1400px){
    section.tf-theme-select,
    section.tf-theme-select-mini{
        div.tf-theme-select-selector>a{
            flex: 33%;
            height: 8rem;
            &:hover{
                flex: 33%;
            }    
        }
    }
}

//////////////////////////////////////////////////////
// Separator
//////////////////////////////////////////////////////

.tf-modern div.tf-separator{
    background: $modernlightcolor;

    div.tf-separator-icon{
        border-color: $modernlightcolor;
        background: $modernlightcolor;
    }
}

.tf-trad div.tf-separator{
    background: $tradlightcolor;

    div.tf-separator-icon{
        border-color: $tradlightcolor;
        background: $tradlightcolor;
    }
}

//////////////////////////////////////////////////////
// Text Separator
//////////////////////////////////////////////////////

.tf-modern h2.tf-text-separator{
    color: $modernlightcolor;
    &::before, &::after{
        background: $modernlightcolor;
    }
}

.tf-trad h2.tf-text-separator{
    color: $modernlightcolor;
    &::before, &::after{
        background: $modernlightcolor;
    }
}

//////////////////////////////////////////////////////
// TfAbutton
//////////////////////////////////////////////////////

.tf-modern a.tf-abutton,
.tf-modern button,
.tf-modern input[type=submit]{
    background: $modernlightcolor;

    div.tf-transiter{
        &::before, &::after{
            background: $modernaltcolor;
        }
    }
    div.tf-transiter-2{
        &::before, &::after{
            background: $moderndarkcolor;
        }
    }
}

.tf-trad a.tf-abutton,
.tf-trad button,
.tf-trad input[type=submit]{
    background: $tradlightcolor;

    div.tf-transiter{
        &::before, &::after{
            background: $tradaltcolor;
        }
    }
    div.tf-transiter-2{
        &::before, &::after{
            background: $traddarkcolor;
        }
    }
}

a.tf-abutton.tf-modern,
button.tf-modern,
input[type=submit].tf-modern{
    background: $modernlightcolor;

    div.tf-transiter{
        &::before, &::after{
            background: $modernaltcolor;
        }
    }
    div.tf-transiter-2{
        &::before, &::after{
            background: $moderndarkcolor;
        }
    }
}

a.tf-abutton.tf-trad,
button.tf-trad,
input[type=submit].tf-trad{
    background: $tradlightcolor;

    div.tf-transiter{
        &::before, &::after{
            background: $tradaltcolor;
        }
    }
    div.tf-transiter-2{
        &::before, &::after{
            background: $traddarkcolor;
        }
    }
}

.tf-site-header a.tf-abutton{
    background: none;
    div.tf-transiter{
        &::before, &::after{
            background: $bgcolor;
        }
    }
}

.tf-facebook-button{
    div.tf-transiter-2{
        &::before, &::after{
            background: #3b5998 !important;
        }
    }
}

.tf-twitter-button{
    div.tf-transiter-2{
        &::before, &::after{
            background: #1da1f2 !important;
        }
    }
}

.tf-pinterest-button{
    div.tf-transiter-2{
        &::before, &::after{
            background: #bd081c !important;
        }
    }
}

//////////////////////////////////////////////////////
// ArticleMini
//////////////////////////////////////////////////////

.tf-article-mini-inner.tf-modern{
    .tf-transiter{
        background: rgba($moderndarkcolor,0.5);
        &::after{
            background: rgba($moderndarkcolor,0.5);
        }
    }
    div.tf-article-mini-content{
        div.tf-tag-list{
            .tf-tag, .tf-tag-little{
                background: $moderndarkcolor;
            }
        }
    }
}

.tf-article-mini-inner.tf-trad{
    .tf-transiter{
        background: rgba($traddarkcolor,0.5);
        &::after{
            background: rgba($traddarkcolor,0.5);
        }
    }
    div.tf-article-mini-content{
        div.tf-tag-list{
            .tf-tag, .tf-tag-little{
                background: $traddarkcolor;
            }
        }
    }
}