@import '../../../../style/base/all';

$article-margin: 2rem;

section.tf-last-articles{

    div.tf-article-grid{
        max-width: $max-width-section;
        margin: 0 auto;

        display: flex;
        flex-flow: row wrap;

        padding: $article-margin / 2;

    }

    div.tf-last-articles-more{
        margin-bottom: 1rem;
        a.tf-abutton{
            margin-top: 0;

            strong{font-variant: small-caps; font-size: 1.2em;}
        }
    }

    h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        line-height: 1.2em;
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0 0;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        flex: 0;

        &::before, &::after{
            content: '';
            flex: 1;
            height: 1px;
            background: $fgcolor;
            margin: 0 2rem;
        }
    }

}