@import '../../../../style/base/all';

section.tf-article-reader{
    display: flex;
    flex-flow: row nowrap;
    min-height: 100vh;

    &>div{
        flex: 1;
    }

    div.tf-article-image-wrapper{
        position: relative;
        overflow: hidden;

        div.tf-article-image{
            position: fixed;
            z-index: 0;
            top: $header-total-height;
            //top: $header-height;
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    div.tf-article-content{
        &>*{
            padding: 0 2rem;
        }
    }

    div.tf-article-social{
        display: flex; flex-flow: column nowrap;
        position: fixed;
        left: 0; top: center;
        opacity: 0.5;
        transition: opacity ease 0.4s;
        
        &:hover{
            opacity: 1;
        }

        button{
            text-align: center;
        }
    }
}

.tf-trad section.tf-article-reader{
    flex-flow: row-reverse nowrap;

    div.tf-article-social{
        left: auto; right: 0;
    }
}