@import 'colors';
@import 'typography';
@import 'variables';

.tf-center-button-bar{
    text-align: center;
}

body{
    background-color: $bgcolor;
    color: $fgcolor;
}

.inverted-section{
    background-color: $fgcolor;
    color: $bgcolor;
}

.tf-center{
    text-align: center;
}

.tf-raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
}

strong.tf-raleway, .tf-raleway strong,
b.tf-raleway, .tf-raleway b{
    font-weight: 900;
}

.tf-tag{
    @extend .tf-raleway;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}
.tf-tag-little{
    @extend .tf-tag;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
}
.tf-tag-little:first-of-type,
.tf-tag:first-of-type{
    margin-left: 0;
}