@import 'functions';
@import 'colors';
@import 'typography';
@import 'variables';

.inverted-section{
    background-color: $fgcolor;
    color: $bgcolor;
}

.tf-center{
    text-align: center;
    text-indent: 0;
}

.tf-tag{
    @extend .tf-raleway;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}
.tf-tag-little{
    @extend .tf-tag;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
}
.tf-tag-little:first-of-type,
.tf-tag:first-of-type{
    margin-left: 0;
}