/* Color palette of Trip Fighter*/

$bgcolor: #fff;
$fgcolor: #1d1d1d;

$moderndarkcolor: #000235;
$modernlightcolor: #c9141c;

$traddarkcolor: #2e1920;
$tradlightcolor: #b57f59;

// OLD COLORS, DO NOT USE
//$moderndarkcolor: #000235;
//$modernmediumcolor: #c9141c;
//$modernlightcolor: #ffce5a;

//$traddarkcolor: #46242f;
//$tradmediumcolor: #982020;
//$tradlightcolor: #fdce84;