// Extend .tf-raleway to apply this font
.tf-raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
}
// <Strong> ou <b> to boldish it.
strong.tf-raleway, .tf-raleway strong,
b.tf-raleway, .tf-raleway b{
    font-weight: 900;
}