@import '../../../../style/base/all';

$icon-size: 2rem;
$thickness: 0.4rem;

div.tf-separator{
    background: $modernmediumcolor;

    width: 100%;
    height: $thickness;

    position: relative;
    z-index: 50;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;


    div.tf-separator-icon{
        width: $icon-size; height: $icon-size;
        border: solid $thickness $modernmediumcolor;
        background: $modernmediumcolor;
        transform: rotate(45deg);
        margin: 0 0.5rem;

        &:nth-child(1), &:nth-child(3){
            width: $icon-size*0.666; height: $icon-size*0.666;
        }
    }
}

h2.tf-text-separator{

    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 1.2em;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    color: $modernmediumcolor;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    flex: 0;

    &::before, &::after{
        content: '';
        flex: 1;
        height: $thickness;
        background: $modernmediumcolor;
    }
}