@import '../../../../style/base/all';

a.tf-abutton,
button,
input[type=submit]{
    @extend .tf-raleway;

    display: inline-block;
    position: relative;
    overflow: hidden;

    color: $bgcolor;
    background: $modernlightcolor;
    text-decoration: none;

    padding: 1rem 1.2rem;
    margin: 1rem;

    div.tf-transiter{

        &::before, &::after{
            content: '';
            display: block;
            position: absolute; z-index: 0;
            top: 0;
            width: 50% * 1.2588190451; height: 100%;
            background: $bgcolor;
            transform: skewX(-15deg);
            transition: left ease 0.4s, right ease 0.4s;
        }
        &::before{
            left: calc(-50% - 4rem * 1.2588190451);
        }
        &::after{
            right: calc(-50% - 4rem * 1.2588190451);
        }
        
    }

    &:hover div.tf-transiter{
        &::before{
            left: -48% * 0.2588190451;
        }
        &::after{
            right: -48% * 0.2588190451;
        }
    }

    div.tf-transiter-2{
        @extend .tf-transiter;

        &::before, &::after{
            background: $moderndarkcolor;
        }
    }
    &:hover div.tf-transiter-2{
        &::before, &::after{
            transition: left ease 0.4s 0.2s, right ease 0.4s 0.2s;
        }
    }

    &>span{
        position: relative;
        display: inline-block;
        z-index: 10;
    }

}