@import '../../../../style/base/all';

// Header-falloff
div.tf-app{
    @extend .tf-raleway;

    line-height: 1.6em;
    color: $fgcolor;
    background: $bgcolor;
    margin-top: $header-total-height;
    &.isHome{
        margin-top: $header-height + $separator-thickness;
    }
}

// Header background
div.tf-header-background{
    display: block;
    position: fixed; top: 0; left: 0; z-index: 99;
    width: 100%; height: $header-height;
    background: #000;
    transition: background-color ease 0.4s;
}

// Full-width static content
div.tf-content{
    width: 100%;
}

// Static-content when menu appears
div.tf-content.tf-figed{
    position: fixed;
    z-index: 0;
}

section{
    background: $bgcolor;
}