Options +FollowSymlinks
RewriteEngine on

RewriteRule index\.html /index.html [L,END]
RewriteRule app\.bundle\.js /app.bundle.js [L,END]
RewriteRule main\.css /main.css [L,END]

RewriteRule fonts\/(.*) /fonts/$1 [L,END]
RewriteRule resource\/(.*) /resource/$1 [L,END]
RewriteRule media\/(.*) /media/$1 [L,END]

RewriteRule .* /index.html [L,END]