@import '../../../../style/base/all';

div.tf-menu{

    position: absolute;
    z-index: 100;
    color: $bgcolor;
    display: none;
    width: 100%;
    margin-top: -3.6rem;

    div.tf-transiter{
        position: fixed;
        z-index: 100;
        background: $bgcolor;
        width: calc(100% + (0.2588190451*104vh) ); height: 100vh;
        top: 0; left: calc(-100% - (0.2588190451*204vh) );
        transition: left ease 0.4s 0.4s;
        transform: skewX(-15deg);

        &::after{
            content: ''; position: absolute;
            left: -100%; top: 0;
            width: 100%; height: 100%;
            background: $fgcolor;
            transition: left ease 0.4s 0.2s;
        }
    }

    &.displayed{
        display: block;
    }

    &.figed{
        position: fixed;
        top: $header-height;
    }

    div.tf-menu-content{
        position: relative;
        z-index: 200;
        left: -4vw;
        opacity: 0;
        transition: left ease 0.4s, opacity ease 0.4s;
    }

    &.active{

        div.tf-transiter{
            left: -0.2588190451*52vh;
            transition: left ease 0.4s;
            &::after{
                left: 0;
                transition: left ease 0.4s 0.2s;
            }
        }

        div.tf-menu-content{
            left: 0;
            opacity: 1;
            transition: left ease 0.4s 0.4s, opacity ease 0.4s 0.4s;
        }

    }

    h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 500 !important;
        line-height: 1.2em;
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        flex: 0;
    }

}

.isHome div.tf-menu{
    margin-top: -0.4rem;
}